{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>금수강산(용수공급 도로살수)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel='{% static "stylesheet" href="css/animate.css" %}'>
	<!-- Icomoon Icon Fonts-->
	<link rel='{% static "stylesheet" href="css/icomoon.css" %}'>
	<!-- Themify Icons-->
	<link rel='{% static "stylesheet" href="css/themify-icons.css" %}'>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
	<link rel="stylesheet" href='{% static "css/owl.theme.default.min.css" %}'>

	<!-- Theme style  -->
	<link rel="stylesheet" href='{% static "css/style.css" %}'>

	<!-- Modernizr JS -->
	<script src='{% static "js/modernizr-2.6.2.min.js"%} '></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

		<nav class="gtco-nav" role="navigation">
			<div class="gtco-container">
				
				<div class="row">
					<div class="col-sm-2 col-xs-12">
						<div id="gtco-logo"><a href="/"><img src='{% static "images/mark.jpeg"%}'></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href="/introduce">회사 소개</a></li>
							<li ><a href="/about">주요 업무</a></li>
							<li class = "active"><a href='{% url "waterapp:services"%}'>현장 갤러리</a></li>

							{% if user.is_authenticated %}
       						<li><a href='{% url "waterapp:post_list"%}'>구인. 구직</a></li>
							<li><a href='{% url "waterapp:post1_list"%}'>팝니다. 삽니다</a></li>
							<li><a href='{% url "waterapp:post2_list"%}'>블랙리스트</a></li>
      						{% else %}
      						{% endif %}
						</ul>
					</div>
				</div>
				
			</div>
		</nav>
<div style="float: right;padding-right: 170px">
	
      {% if user.is_authenticated %}
        {{ user.username }}님 환영합니다!!   <a href="{% url 'waterapp:logout' %}">로그아웃</a>
      {% else %}
        <a href="{% url 'login' %}">로그인</a> / <a href="{% url 'waterapp:agree' %}">회원가입</a>
      {% endif %}
   
</div>

		<div class="gtco-section gtco-services">
			<div class="gtco-container">
				<div class="row gtco-heading">
					<div class="col-md-7 text-left">
						<h2>현장 갤러리</h2>
						<p>금강산수의 차량들이 활약하는 현장의 사진입니다.</p>
					</div>

				</div>
				
				<div class="row">
					{% for post in object_list %}
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div>
						
							<div class="copy">
								<img src="{{ post.photo.url }}" alt=""  style="margin-left: 50px; position:absoulte; width:250px;height:300px">
							</div>
							
						</div>
						<br>
						<h4 style="text-align:center;">{{ post.title }}</h4>
						<hr>
					</div>

					{% endfor %}
				</div>
			</div>
		</div>
		{% if is_paginated %}

<div class="text-center pagination-wrap">
	<ul class="pagination">
	  {% if page_obj.has_previous %}
	    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
	  {% else %}
	    <li class="disabled"><span>&laquo;</span></li>
	  {% endif %}
	  {% for i in paginator.page_range %}
	    {% if page_obj.number == i %}
	      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	    {% else %}
	      <li><a href="?page={{ i }}">{{ i }}</a></li>
	    {% endif %}
	  {% endfor %}
	  {% if page_obj.has_next %}
	    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
	  {% else %}
	    <li class="disabled"><span>&raquo;</span></li>
	  {% endif %}
	</ul>
</div>

{% endif %}
		
		<footer id="gtco-footer" class="gtco-section" role="contentinfo">
			<div class="gtco-container">
				<div class="row row-pb-md">
					<div class="col-md-4 gtco-widget gtco-footer-paragraph">
						<h3>금수강산</h3>
						<p>저희 "금수강산"은 보유 차량 10대로 언제 어느 현장이든지 달려 최선을 다하겠습니다.</p>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-6 gtco-footer-link">
								<h3>Links</h3>
								<ul class="gtco-list-link">
									<li><a href="#">Home</a></li>
									<li><a href="#">Features</a></li>
									<li><a href="#">Products</a></li>
									<li><a href="#">Testimonial</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</div>
							<div class="col-md-6 gtco-footer-link">
								<h3>Work</h3>
								<ul class="gtco-list-link">
									<li><a href="#">New York Arena</a></li>
									<li><a href="#">Eagle Park</a></li>
									<li><a href="#">Nationals Park</a></li>
									<li><a href="#">Manila Park</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 gtco-footer-subscribe">
						<form class="form-inline">
						  <div class="form-group">
						    <label class="sr-only" for="exampleInputEmail3">Email address</label>
						    <input type="email" class="form-control" id="" placeholder="Email">
						  </div>
						  <button type="submit" class="btn btn-primary">Send</button>
						</form>
					</div>
				</div>
			</div>
			<div class="gtco-copyright">
				<div class="gtco-container">
					<div class="row">
						<div class="col-md-6 text-left">
							<p><small>&copy; 2016 Free HTML5. All Rights Reserved. </small></p>
						</div>
						<div class="col-md-6 text-right">
							<p><small>Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a> Demo Images: <a href="http://pixeden.com/" target="_blank">Pixeden</a> &amp; <a href="http://unsplash.com" target="_blank">Unsplash</a></small> </p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- END footer -->

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src='{% static "js/jquery.min.js"%}'></script>
	<!-- jQuery Easing -->
	<script src='{% static "js/jquery.easing.1.3.js"%}'></script>
	<!-- Bootstrap -->
	<script src='{% static "js/bootstrap.min.js"%}'></script>
	<!-- Waypoints -->
	<script src='{% static "js/jquery.waypoints.min.js"%}'></script>
	<!-- Carousel -->
	<script src='{% static "js/owl.carousel.min.js"%}'></script>
	<!-- Main -->
	<script src='{% static "js/main.js"%}'></script>

	</body>
</html>

